# macOS
.DS_Store

# Python bytecode (regenerated automatically)
__pycache__/
*.pyc

# IDE
.idea/
.vscode/
*.swp

# Runtime data created on Pager
loot/
logs/
*.log

# Local dev
.env
libs-old/

# Exclude all .md files except README.md
*.md
!README.md
